# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  
  property1: 'variable property1'
  settings.property2: 'variable property2'
  Environment: 'variable Environment'
  Environment1: 'variable Environment1'
  con: 'variable con'
  con1: 'variable con1'


steps:
- task: NuGetToolInstaller@1
  displayName: 'Install Nuget'

- task: NuGetCommand@2
  displayName: 'Restore Nuget'
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  displayName: 'Build File transform solution'
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'


- task: CopyFiles@2
  displayName: 'Copy Files to $(build.artifactStagingDirectory) location'
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: 'Client*.settings'
    TargetFolder: '$(build.artifactStagingDirectory)'

#- task: ExtractFiles@1
#  inputs:
#    archiveFilePatterns: '**/*.zip'
#    destinationFolder: '$(build.artifactStagingDirectory)'
#    cleanDestinationFolder: true
#    overwriteExistingFiles: false
    
#- task: FileTransform@1
#  displayName: 'File Transformation $(build.artifactStagingDirectory)'
#  inputs:
#    folderPath: '$(build.artifactStagingDirectory)'
#    enableXmlTransform: true
#    fileType: 'xml'
#    targetFiles: |
#      **/*.Client.settings
#      **/*.config

- task: replacetokens@4
  displayName: 'Replace token variables'
  inputs:
    rootDirectory: '$(build.artifactStagingDirectory)'
    targetFiles: |
      **/*.settings
      **/*.config
    encoding: 'auto'
    tokenPattern: 'default'
    writeBOM: true
    actionOnMissing: 'warn'
    keepToken: false
    actionOnNoFiles: 'fail'
    enableTransforms: true
    transformPrefix: '#{'
    transformSuffix: '}#'
    useLegacyPattern: false
    enableTelemetry: true


- task: PublishBuildArtifacts@1
  displayName: 'Publish build artifacts to $(Build.ArtifactStagingDirectory)'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'